<li id="trend_news-<%= trend_news.id %>">
  <span class="item-header">
    <%= link_to trend_news.Name, "http://twitter.com/search?q=#{URI.encode(trend_news.Name)}&src=tren", target: "_blank" %>
  </span>
  <a href="<%= trend_news.Url %>" target="_blank" class="link_box">
    <span class="item_title">
      <%= trend_news.Title %>
    </span>
    <span class="item_description">
      <%= trend_news.Description %>
    </span>
  </a>
  <span class="item-footer">
    <img src="https://favicon.hatena.ne.jp/?url=<%= trend_news.Url %>" />  <%= trend_news.Source %>・<%= time_ago_in_words(trend_news.Date) %>前
  </span>
</li>
